
body {
    background-color:#f1f2f6;
}

.li_logo {
    width: 110px;
    height: 60px;
    position: relative;
}

input[type-text] {
    width: 100%;
    border: 2px solid;
    border-radius: 4px;
    padding: 4px;
    transition: .3s;
    box-sizing: border-box;
}

.inputWithIcon input [type-text] {
    padding-left: 40px;  
}

.inputWithIcon {
    position: relative;
}
.inputWithIcon i {
    position: absolute;
    left: 165px;
    top: 8px;
    color: #aaa;
}
.Nav_style {
    height:10px;
}
.aside_bg {
    width: 240px;
    height: 65px;
    justify-content: center;
    padding: 0px;
    margin-left:0px;
    opacity: 0.3;
}
.photo_machine {
    position: relative;
    width: 60px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    align-items:center ;
    margin-top: -30px;
    margin-left: 105px;
    border-image: round;
}
.sari_kare {
    width: 20px;
    height: 20px;
}
.aside_border {
    border-radius: 32px/12px;
    background-color: white;
}
.entry_box {
    width: 420px;
    height: 46px;
    border-style:groove;
}
a:hover {
    background-color: lightgray;
}
.li_logo_alt {
    width: 60px;
    height: 60px;
    position: relative;
}
.three_dots {
    text-align: center;
  	align-items: center;
	vertical-align: top;

}
button:hover {
    background-color: lightgray;
}
.work_pht {
    width: 33px;
    height:33px;
}
.takip_btn {
    border-radius: 20px;
}
.career_pht {
    width: 44px;
    height:33px;
}
.job_design {
    width: 180px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 25px;
}
